solutions/TMobile/Workflows/ChangeRequestApprovalFlow-40686A6C-7FC8-EA11-A812-000D3A329613.json
{"properties":{"connectionReferences":{"shared_approvals_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"impersonation":{"source":"invoker"},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Change_Request_Record_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cat_changerequest","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_Tier_1_Approval":{"runAfter":{"Initialize_Variable_-_Steering_Approvers":["Succeeded"]},"limit":{"timeout":"P2D"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"ORBIT Change Request","ApprovalCreationInput/assignedTo":"@{outputs('Get_Reviewer_User_Record')?['body/internalemailaddress']};@{variables('varTMOApprovers')}","ApprovalCreationInput/details":"A change request has been requested by @{outputs('Get_Requestor_Record')?['body/nickname']}. \n\nRequest Local Date/Time: @{convertTimeZone(utcNow(),'utc','pacific standard time','f')}\n\nInitiative Name\n        - **@{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']}**\n\n\nField Name\n        - **@{triggerOutputs()?['body/cat_fieldname']}**\n\nCurrent Value\n        - **@{triggerOutputs()?['body/cat_originalvalue']}**\n\nProposed Value\n        - **_@{triggerOutputs()?['body/cat_newvalue']}_**\n\n\nChange Justification\n        - @{triggerOutputs()?['body/cat_justificationforchange']}","ApprovalCreationInput/itemLink":"@variables('varDetailsLink')","ApprovalCreationInput/itemLinkDescription":"Click HERE to go to initiative details in ORBIT","ApprovalCreationInput/requestor":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Reviewer_User_Record":{"runAfter":{"Apply_to_Each__-_Set_Variable_-_AppID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cat_t1reviewer_value']"},"authentication":"@parameters('$authentication')"}},"Get_GTMEntry_Record":{"runAfter":{"Get_Requestor_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_Variable_-_Details_Deep_Link":{"runAfter":{"Create_a_new_record_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDetailsLink","type":"string","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&tenantId=be0f980b-dd99-4b19-bd7b-bc71a09b026c&RecordID=', outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid'], '&NavScreen=Details&appId=/providers/Microsoft.PowerApps/apps/', variables('varAppID'))}"}]}},"Get_Requestor_Record":{"runAfter":{"Get_Reviewer_User_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_Tier_2_Approval":{"runAfter":{"Apply_to_Each_-_Update_Change_Request_-_Tier_1_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"@outputs('Wait_for_Tier_1_Approval')?['body/title']","ApprovalCreationInput/assignedTo":"@variables('varTMOApprovers')","ApprovalCreationInput/details":"Request Local Date/Time: @{convertTimeZone(utcNow(),'utc','pacific standard time','f')}\n\nTier 1 Approval Details:  \n@{outputs('Wait_for_Tier_1_Approval')?['body/details']}\n\nTier 1 Reviewer Summary:  \n@{outputs('Wait_for_Tier_1_Approval')?['body/responseSummary']}","ApprovalCreationInput/itemLink":"@outputs('Wait_for_Tier_1_Approval')?['body/itemLink']","ApprovalCreationInput/itemLinkDescription":"@outputs('Wait_for_Tier_1_Approval')?['body/itemLinkDescription']","ApprovalCreationInput/requestor":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Create_Email_Record_-_Tier_2_Approval_Request":{"runAfter":{"Create_Tier_2_Approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"ORBIT - Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']}","item/actualend":"@utcNow()","item/actualstart":"@triggerOutputs()?['body/createdon']","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"@outputs('Create_Tier_1_Approval')?['body/details']","item/cat_torecipients":"@outputs('Get_Reviewer_User_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}},"Wait_for_Tier_2_Approval":{"runAfter":{"Create_Email_Record_-_Tier_2_Approval_Request":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Create_Tier_2_Approval')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Apply_to_Each_-_Update_Change_Request_-_Tier_1_Approved":{"foreach":"@outputs('Wait_for_Tier_1_Approval')?['body/responses']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_t1reviewercomments":"@items('Apply_to_Each_-_Update_Change_Request_-_Tier_1_Approved')?['comments']","item/cat_t1reviewerstatus":809060001,"item/_ownerid_type":"","item/_cat_t1reviewer_value":"@outputs('Get_Reviewer_User_Record')?['body/systemuserid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@outputs('Wait_for_Tier_2_Approval')?['body/responses']","actions":{"Get_Tier_2_Approver_User_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"azureactivedirectoryobjectid eq @{items('Apply_to_each_3')?['responder/id']}","$top":1},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Create_Email_Record_-_Notify_Requestor_of_Tier_2_Approval":{"runAfter":{"Set_variable_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} - Approved","item/actualstart":"@triggerOutputs()?['body/createdon']","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Your change request for ORBIT initiative @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} has been Approved by @{variables('varReviewerName')}. \n<br><br>\nComments: @{variables('varComments')}\n","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}},"Apply_to_Each_-_Update_Change_Request_-_Tier_2_Approved":{"foreach":"@outputs('Get_Tier_2_Approver_User_Record')?['body/value']","actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_crapprovalstage":809060001,"item/cat_t2reviewercomments":"@items('Apply_to_each_3')?['comments']","item/cat_t2reviewerstatus":809060001,"item/_ownerid_type":"","item/_cat_t2reviewer_value":"@items('Apply_to_Each_-_Update_Change_Request_-_Tier_2_Approved')?['systemuserid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"},"Get_record":{"runAfter":{"Create_Email_Record_-_Notify_Requestor_of_Tier_2_Approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Condition_4":["Succeeded"]},"cases":{"Case":{"case":"Description","actions":{"Update_GTMEntry_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_description":"@outputs('Get_Field_Change_Record_Values')?['body/cat_description']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"EndDate","actions":{"Update_a_record_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_enddate":"@outputs('Get_record')?['body/cat_enddate']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"RequestedLaunchDate","actions":{"Update_GTMEntry_Record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_requestedlaunchdate":"@outputs('Get_record')?['body/cat_requestedlaunchdate']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_5":{"case":"TotalOfferSpend","actions":{"Update_GTMEntry_Record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_totalofferspend":"@outputs('Get_record')?['body/cat_totalofferspend']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_6":{"case":"VoiceRatePlanRequirements","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_voicerateplanrequirements":"@outputs('Get_Field_Change_Record_Values')?['body/cat_voicerateplanrequirements']"},"authentication":"@parameters('$authentication')"}}}},"Case_7":{"case":"MobileInternetPlanRequirements","actions":{"Update_a_record_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_mobileinternetplanrequirements":"@outputs('Get_Field_Change_Record_Values')?['body/cat_mobileinternetplanrequirements']"},"authentication":"@parameters('$authentication')"}}}},"Case_4":{"case":"DesiredExecution","actions":{"Update_a_record_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_desiredexecution":"@outputs('Get_a_record')?['body/cat_desiredexecution']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_8":{"case":"OfferLimitsConsumerTFB","actions":{"Update_a_record_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_offerlimitsconsumertfb":"@outputs('Get_a_record')?['body/cat_offerlimitsconsumertfb']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_9":{"case":"WearablePlanRequirements","actions":{"Update_a_record_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_wearableplanrequirements":"@outputs('Get_Field_Change_Record_Values')?['body/cat_wearableplanrequirements']"},"authentication":"@parameters('$authentication')"}}}},"Case_10":{"case":"OtherPromotionsNotStackable","actions":{"Update_a_record_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_otherpromotionsnotstackable":"@outputs('Get_a_record')?['body/cat_otherpromotionsnotstackable']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_11":{"case":"AdditionalEligibilityRequirements","actions":{"Update_a_record_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_additionaleligibilityrequirements":"@outputs('Get_Field_Change_Record_Values')?['body/cat_additionaleligibilityrequirements']"},"authentication":"@parameters('$authentication')"}}}},"Case_12":{"case":"Phase","actions":{"Update_a_record_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_phase":"@outputs('Get_Field_Change_Record_Values')?['body/cat_phase']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_orbitemailses","item/subject":"ORBIT Change Request Approved - Action Required","item/description":"Change Request","item/cat_messagebody":"ORBIT Change Request has been approved and is pending manual field update. \n\nPlease go to the initiative and make the indicated changes. \n\n@{items('Apply_to_each_3')?['comments']}\n\nInitiative Link:\n@{variables('varDetailsLink')}","item/cat_torecipients":"@variables('varTMOApprovers')"},"authentication":"@parameters('$authentication')"}}}},"expression":"@triggerOutputs()?['body/cat_fieldid']","type":"Switch"},"Condition_4":{"actions":{},"runAfter":{"Get_Field_Change_Record_Values":["Succeeded"]},"else":{"actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_fieldid']","Other"]},"type":"If"},"Get_Field_Change_Record_Values":{"runAfter":{"Get_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varComments","value":"@items('Apply_to_each_3')?['comments']"}},"Set_variable_6":{"runAfter":{"Set_variable_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varReviewerName","value":"@items('Apply_to_each_3')?['responder/displayName']"}}},"runAfter":{"Get_Tier_2_Approver_User_Record":["Succeeded"]},"else":{"actions":{"Apply_to_Each_-_Update_Change_Request_-_Tier_2_Rejected":{"foreach":"@outputs('Get_Tier_2_Approver_User_Record')?['body/value']","actions":{"Update_a_record_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_crapprovalstage":809060002,"item/cat_t2reviewercomments":"@items('Apply_to_each_3')?['comments']","item/cat_t2reviewerstatus":809060002,"item/_ownerid_type":"","item/_cat_t2reviewer_value":"@items('Apply_to_Each_-_Update_Change_Request_-_Tier_2_Rejected')?['systemuserid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Email_Record_-_Notify_Requestor_of_Tier_2_Rejection":["Succeeded"]},"type":"Foreach"},"Create_Email_Record_-_Notify_Requestor_of_Tier_2_Rejection":{"runAfter":{"Set_variable_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} - Rejected","item/actualstart":"@triggerOutputs()?['body/createdon']","item/cat_ccrecipients":"@outputs('Get_Business_Owner_Record')?['body/internalemailaddress']","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Your change request for ORBIT initiative @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} has been rejected by @{variables('varReviewerName')}. \n<br><br>\nComments: @{variables('varComments')}\n","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Set_variable_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varComments","value":"@items('Apply_to_each_3')?['comments']"}},"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varReviewerName","value":"@items('Apply_to_each_3')?['responder/displayName']"}}}},"expression":{"equals":["@outputs('Wait_for_Tier_2_Approval')?['body/outcome']","Approve"]},"type":"If"}},"runAfter":{"Delete_Record_-_Field_Change_Request_Record_-_Tier_2":["Skipped"]},"type":"Foreach"},"Create_Record_-_Audit_History":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_orbitaudithistories","item/cat_GTMEntry@odata.bind":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/cat_newvalue":"@triggerOutputs()?['body/cat_newvalue']","item/cat_oldvalue":"@triggerOutputs()?['body/cat_originalvalue']"},"authentication":"@parameters('$authentication')"}},"Create_Record_-_Audit_History_-_Fallback":{"runAfter":{"Create_Record_-_Audit_History":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitaudithistories","item/cat_newvalue":"@triggerOutputs()?['body/cat_newvalue']","item/cat_oldvalue":"@triggerOutputs()?['body/cat_originalvalue']","item/_cat_gtmentry_value":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_Record_-_Change_Request_Status_Canceled_-_Tier_2":{"runAfter":{"Create_Record_-_Change_Request_Timed_Out_-_Tier_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_crapprovalstage":809060003,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Delete_Record_-_Field_Change_Request_Record_-_Tier_2":{"runAfter":{"Update_Record_-_Change_Request_Status_Canceled_-_Tier_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}},"Create_Record_-_Change_Request_Timed_Out_-_Tier_2":{"runAfter":{"Wait_for_Tier_2_Approval":["TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request - Canceled","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Your change request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} has been canceled since the reviewer has not responded to the request in the allowed time. ","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Record_-_Change_Request_Status_Canceled_-_Tier_1":["Skipped"]},"else":{"actions":{"Apply_to_Each_-_Update_Change_Request_-_Tier_1_Rejected":{"foreach":"@outputs('Wait_for_Tier_1_Approval')?['body/responses']","actions":{"Update_a_record_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_crapprovalstage":809060002,"item/cat_t1reviewercomments":"@items('Apply_to_Each_-_Update_Change_Request_-_Tier_1_Rejected')?['comments']","item/cat_t1reviewerstatus":809060002,"item/_ownerid_type":"","item/_cat_t1reviewer_value":"@outputs('Get_Reviewer_User_Record')?['body/systemuserid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Email_Record_-_Notify_Requestor_of_Tier_1_Rejection":["Succeeded"]},"type":"Foreach"},"Apply_to_each":{"foreach":"@outputs('Wait_for_Tier_1_Approval')?['body/responses']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varComments","value":"@items('Apply_to_each')?['comments']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varReviewerName","value":"@items('Apply_to_each')?['responder/displayName']"}}},"runAfter":{},"type":"Foreach"},"Create_Email_Record_-_Notify_Requestor_of_Tier_1_Rejection":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"ORBIT - Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} - Rejected","item/actualstart":"@triggerOutputs()?['body/createdon']","item/cat_ccrecipients":"@outputs('Get_Business_Owner_Record')?['body/internalemailaddress']","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Your change request for ORBIT initiative @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} has been rejected by @{variables('varReviewerName')}. \n<br><br>\nComments: @{variables('varComments')}\n","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Wait_for_Tier_1_Approval')?['body/outcome']","Approve"]},"type":"If"},"Wait_for_Tier_1_Approval":{"runAfter":{"Create_Email_Record_-_Tier_1_Approval_Request":["Succeeded"]},"limit":{"timeout":"P2D"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Create_Tier_1_Approval')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Create_Email_Record_-_Tier_1_Approval_Request":{"runAfter":{"Create_Tier_1_Approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']}","item/actualend":"@utcNow()","item/actualstart":"@triggerOutputs()?['body/createdon']","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"@outputs('Create_Tier_1_Approval')?['body/details']","item/cat_torecipients":"@outputs('Get_Reviewer_User_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_GTMEntry_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Condition":["Succeeded"]},"else":{"actions":{"Delete_Record_-_Field_Change_Request_Record_-_End":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}},"Delete_Record_-_Field_Change_Request_Record_-_End_-_Fallback":{"runAfter":{"Delete_Record_-_Field_Change_Request_Record_-_End":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_fieldid']","Other"]},"type":"If"},"Initialize_Variable_-_Steering_Approvers":{"runAfter":{"Initialize_Variable_-_Details_Deep_Link":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTMOApprovers","type":"string","value":"Jody.Still2@T-Mobile.com;Amelia.Burger1@T-Mobile.com"}]}},"Initialize_Variable_-_AppID":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppID","type":"string"}]}},"List_Records_-_Environmental_Variables_-_ORBITAppID":{"runAfter":{"Initialize_Variable_-_AppID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq 'cat_ORBITAppID'"},"authentication":"@parameters('$authentication')"}},"Apply_to_Each__-_Set_Variable_-_AppID":{"foreach":"@outputs('List_Records_-_Environmental_Variables_-_ORBITAppID')?['body/value']","actions":{"Set_Variable_-_AppID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAppID","value":"@items('Apply_to_Each__-_Set_Variable_-_AppID')?['defaultvalue']"}}},"runAfter":{"List_Records_-_Environmental_Variables_-_ORBITAppID":["Succeeded"]},"type":"Foreach"},"Get_Business_Owner_Record":{"runAfter":{"Get_GTMEntry_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_GTMEntry_Record')?['body/_cat_businessowner_value']"},"authentication":"@parameters('$authentication')"}},"Create_Record_-_Change_Request_Timed_Out_-_Tier_1":{"runAfter":{"Wait_for_Tier_1_Approval":["TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request - Canceled","item/description":"Change Request","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Your change request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} has been canceled since the reviewer has not responded to the request in the allowed time. ","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}},"Delete_Record_-_Field_Change_Request_Record_-_Tier_1":{"runAfter":{"Create_Record_-_Change_Request_Timed_Out_-_Tier_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_fieldchangerecord_value']"},"authentication":"@parameters('$authentication')"}},"Update_Record_-_Change_Request_Status_Canceled_-_Tier_1":{"runAfter":{"Delete_Record_-_Field_Change_Request_Record_-_Tier_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_changerequests","id":"@triggerOutputs()?['body/cat_changerequestid']","item/cat_crapprovalstage":809060003,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varComments","type":"string"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReviewerName","type":"string"}]}},"Create_a_new_record_3":{"runAfter":{"Get_Business_Owner_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_2","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Change Request Submitted","item/actualstart":"@utcNow()","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"Change Request for @{outputs('Get_GTMEntry_Record')?['body/cat_initiativename']} to change @{triggerOutputs()?['body/cat_fieldname']} from @{triggerOutputs()?['body/cat_originalvalue']} to @{triggerOutputs()?['body/cat_newvalue']} has been submitted for review. ","item/cat_torecipients":"@outputs('Get_Requestor_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}