solutions/TMobile/Workflows/CreateApprovalOnStageChanged-81B1B257-C93B-EA11-A812-000D3A3682AC.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_dynamicscrmonline_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}},"shared_teams_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_teams"}},"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"new_orbit_initiative_approval_processes","scope":"Organization","subscriptionRequest/AttributeFilters":["activestageid"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_varActiveStageName_Variable":{"runAfter":{"Filter_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageName","type":"String"}]}},"Set_Current_Stage_Variables":{"foreach":"@body('Filter_array')","actions":{"Set_varStageName_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varActiveStageName","value":"@items('Set_Current_Stage_Variables')?['stagename']"}},"Set_varStageCategory_Variable":{"runAfter":{"Set_varStageName_Variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varStageCategory","value":"@items('Set_Current_Stage_Variables')?['stagecategory']"}},"Set_variable_2":{"runAfter":{"Set_varStageCategory_Variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varStageApprovalUserRecordID","value":"@items('Set_Current_Stage_Variables')?['processstageid']"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Initialize_varStageCategory_Variable":{"runAfter":{"Initialize_varActiveStageName_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varStageCategory","type":"Integer"}]}},"Initialize_and_Set_test_Variable":{"runAfter":{"Initialize_and_Set_varActiveStageIDValue_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"test","type":"String","value":"@{Body('GetBPFActivePath')?['value']?[variables('varActiveStageIndex')]?['processstageid']}"}]}},"Initialize_and_Set_varActiveStageIDValue_Variable":{"runAfter":{"Initialize_and_Set_Variable_-_Approvals_Dashboard_Deep_Link":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageIDValue","type":"String","value":"@triggerOutputs()?['body/_activestageid_value']"}]}},"Initialize_and_Set_varActiveStageID_Variable":{"runAfter":{"Initialize_and_Set_varActiveStageIndex_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageID","type":"String","value":"@{Body('GetBPFActivePath')?['value']?[variables('varActiveStageIndex')]?['processstageid']}"}]}},"Initialize_and_Set_varActiveStageIndex_Variable":{"runAfter":{"Initialize_varApprovalUsers_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageIndex","type":"Integer","value":0}]}},"Initialize_varApprovalUsers_Variable":{"runAfter":{"Initialize_varGTMTeamEmails_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalUsers","type":"String"}]}},"Initialize_varGTMTeamEmails_Variable":{"runAfter":{"Set_Current_Stage_Variables":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varGTMTeamEmails","type":"String"}]}},"Initialize_and_Set_-_User_Approvals_Dashboard_Deep_Link":{"runAfter":{"Initialize_and_Set_test_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalDashboardLink","type":"String","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&RecordID=', triggerOutputs()?['body/_bpf_cat_gtmentryid_value'], '&NavScreen=UserApprovals&appId=/providers/Microsoft.PowerApps/apps/',variables('varAppID'))}"}]}},"Get_gtmEntry_Record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/_bpf_cat_gtmentryid_value']))}","authentication":"@parameters('$authentication')"}},"Condition_-_Check_If_Is_Draft_Phase":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Get_GTM_Team_Users":["Succeeded"]},"else":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"Draft","actions":{"Update_a_record_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"_activestageid_value":"@{Body('GetBPFActivePath')?['value']?[1]?['processstageid']}"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('new_orbit_initiative_approval_processes'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/businessprocessflowinstanceid']))}","authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"New","actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@body('Get_GTM_Team_Users')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"systemuserid":{"type":"string"},"versionnumber":{"type":"integer"},"teammembershipid":{"type":"string"},"teamid":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","systemuserid","versionnumber","teammembershipid","teamid"]}}}}}},"Apply_to_each_2":{"foreach":"@body('Parse_JSON')?['value']","actions":{"Get_record_4":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_2')?['systemuserid']))}","authentication":"@parameters('$authentication')"}},"Append_to_string_variable":{"runAfter":{"Get_record_4":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"varGTMTeamEmails","value":";@{body('Get_record_4')?['internalemailaddress']}"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Get_Initiative_Record":{"runAfter":{"Get_GTM_User_Account_Record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_dynamicscrmonline_1']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('orgf90b00fe.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/_bpf_cat_gtmentryid_value']))}","authentication":"@parameters('$authentication')"}},"Get_Submitter_Record":{"runAfter":{"Get_Initiative_Record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_gtmEntry_Record')?['_createdby_value']))}","authentication":"@parameters('$authentication')"}},"Get_Business_Owner_Record":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_gtmEntry_Record')?['_cat_businessowner_value']))}","authentication":"@parameters('$authentication')"}},"Get_Sponsoring_VP_Record":{"runAfter":{"Get_Business_Owner_Record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_gtmEntry_Record')?['_cat_sponsor_value']))}","authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@body('GetBPFActivePath')?['value']","actions":{"Condition_2":{"actions":{"Get_Record_-_Sponsor_VP":{"runAfter":{"Get_Record_-_Beneficiary_LOB_Approver":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@body('Get_gtmEntry_Record')?['_cat_sponsor_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Add_New_Approver_Record_to_Stage":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"cat_name":"@body('Get_gtmEntry_Record')?['cat_initiativename']","cat_approvalstatus":809060000,"importsequencenumber":"@body('Create_Stage_Approval_User_Table')?['importsequencenumber']","_cat_approvaluser_value":"@body('Get_gtmEntry_Record')?['_cat_beneficiarylobapprover_value']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_crffc_crba4_stageapprovalusers_value":"@body('Create_Stage_Approval_User_Table')?['crba4_stageapprovalusersid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","authentication":"@parameters('$authentication')"}},"Create_a_new_record_7":{"runAfter":{"Add_New_Approver_Record_to_Stage":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required for @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Beneficiary_LOB_Record')?['firstname']} @{body('Get_Beneficiary_LOB_Record')?['lastname']},<br>\n<br>\n<br>\nA program impacting your LOB is requesting marketing support. Please review and approve to engage broader integrated Marketing teams to support. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me. &nbsp;<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Beneficiary_LOB_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_gtmEntry_Record')?['_cat_beneficiarylobapprover_value']","@null"]},"type":"If"},"Get_Record_-_Beneficiary_LOB_Approver":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_gtmEntry_Record')?['_cat_beneficiarylobapprover_value']))}","authentication":"@parameters('$authentication')"}},"Add_VP_Approver_to_New_Stage":{"runAfter":{"Get_Record_-_Sponsor_VP":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"cat_name":"@body('Get_gtmEntry_Record')?['cat_initiativename']","cat_approvalstatus":809060000,"importsequencenumber":"@body('Create_Stage_Approval_User_Table')?['importsequencenumber']","_cat_approvaluser_value":"@body('Get_gtmEntry_Record')?['_cat_sponsor_value']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_crffc_crba4_stageapprovalusers_value":"@body('Create_Stage_Approval_User_Table')?['crba4_stageapprovalusersid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","authentication":"@parameters('$authentication')"}},"Email_Notification_Switch":{"runAfter":{"Add_VP_Approver_to_New_Stage":["Succeeded"]},"cases":{"Case":{"case":"Project","actions":{"Create_a_new_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required For @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. Your approval means you are aligned with the concept and with it moving forward to Quarterly Planning (CapEx) or OpEx review. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me.<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"Device Promotion","actions":{"Create_a_new_record_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required For @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. Your approval means you are aligned with the concept and with it moving forward to Offers Steering. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me.<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"Service Offer","actions":{"Create_a_new_record_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required For @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. Your approval means you are aligned with the concept and with it moving forward to Offers Steering. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me.<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"Case_4":{"case":"Other","actions":{"Create_a_new_record_4":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required for @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. Your approval means you are aligned to engage cross functional teams to support. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me. &nbsp;<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"Case_5":{"case":"Device Launch","actions":{"Create_a_new_record_5":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required for @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. &nbsp;Your approval means you are aligned to engage cross functional teams to support. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me. &nbsp;<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Create_a_new_record_6":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"Approval Required for @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"cat_ccrecipients":"@body('Get_Business_Owner_Record')?['internalemailaddress']","description":"New Phase Approval Request","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>@{body('Get_Sponsoring_VP_Record')?['firstname']} @{body('Get_Sponsoring_VP_Record')?['lastname']},<br>\n<br>\n<br>\nPlease review and approve @{body('Get_gtmEntry_Record')?['cat_initiativename']}. &nbsp;Your approval means you are aligned to engage cross functional teams to support. <a href=\"@{variables('varApprovalDashboardLink')}\">Click Here</a> to go to the Approval Dashboard. If you have any questions, please contact me. &nbsp;<br>\n<br>\n<br>\nThank you,<br>\n<br>\n@{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","cat_torecipients":"@body('Get_Sponsoring_VP_Record')?['internalemailaddress']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}}}},"expression":"@body('Get_Initiative_Record')?['_cat_initiativetype_label']","type":"Switch"}},"runAfter":{"Create_Stage_Approval_User_Table":["Succeeded"]},"else":{"actions":{"Condition_4":{"actions":{"Condition_6":{"actions":{"Add_VP_to_Approval_Stages":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"cat_name":"@body('Get_gtmEntry_Record')?['cat_initiativename']","importsequencenumber":"@body('Create_Stage_Approval_User_Table')?['importsequencenumber']","_cat_approvaluser_value":"@body('Get_gtmEntry_Record')?['_cat_sponsor_value']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_crffc_crba4_stageapprovalusers_value":"@body('Create_Stage_Approval_User_Table')?['crba4_stageapprovalusersid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",0]}},{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",1]}},{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",3]}},{"equals":["@items('Apply_to_each_4')?['stagename']","SKIPSTEP"]}]},"type":"If"}},"runAfter":{},"else":{"actions":{"Add_Service_Account_to_Concept_Stage":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"cat_name":"@body('Get_gtmEntry_Record')?['cat_initiativename']","importsequencenumber":"@body('Create_Stage_Approval_User_Table')?['importsequencenumber']","_cat_approvaluser_value":"@body('Get_GTM_User_Account_Record')?['systemuserid']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_crffc_crba4_stageapprovalusers_value":"@body('Create_Stage_Approval_User_Table')?['crba4_stageapprovalusersid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Add_VP_to_Approval_Stages_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"cat_name":"@body('Get_gtmEntry_Record')?['cat_initiativename']","importsequencenumber":"@body('Create_Stage_Approval_User_Table')?['importsequencenumber']","_cat_approvaluser_value":"@body('Get_gtmEntry_Record')?['_cat_sponsor_value']","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_crffc_crba4_stageapprovalusers_value":"@body('Create_Stage_Approval_User_Table')?['crba4_stageapprovalusersid']"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Add_Service_Account_to_Concept_Stage":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",0]}},{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",1]}},{"not":{"equals":["@items('Apply_to_each_4')?['stagecategory']",3]}},{"equals":["@items('Apply_to_each_4')?['stagename']","SKIPSTEP"]}]},"type":"If"}}},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each_4')?['stagename']","Concept"]}},{"not":{"equals":["@items('Apply_to_each_4')?['stagename']","Assessment"]}}]},"type":"If"}}},"expression":{"equals":["@items('Apply_to_each_4')?['stagename']","New"]},"type":"If"},"Create_Stage_Approval_User_Table":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"crba4_instancestageid":"@items('Apply_to_each_4')?['processstageid']","crba4_name":"@items('Apply_to_each_4')?['stagename']","_crba4_orbitbpf_value":"@triggerBody()?['businessprocessflowinstanceid']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('crba4_stageapprovaluserses'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Beneficiary_LOB_Record":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Get_Beneficiary_LOB_Record":{"runAfter":{"Get_Sponsoring_VP_Record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_gtmEntry_Record')?['_cat_beneficiarylobapprover_value']))}","authentication":"@parameters('$authentication')"}},"Get_GTM_User_Account_Record":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent('aa2444d4-96ed-e911-a9a2-000d3a3af1bc'))}","authentication":"@parameters('$authentication')"}},"Create_a_new_record_8":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"post","body":{"subject":"New Intake Submission: @{body('Get_gtmEntry_Record')?['cat_initiativename']}","isregularactivity":true,"description":"GTM - New Initiative Notification","isbilled":false,"ismapiprivate":false,"isworkflowcreated":false,"leftvoicemail":false,"cat_messagebody":"<p>Initiative Type: @{body('Get_Initiative_Record')?['_cat_initiativetype_label']}<br>\nInitiative Name: @{body('Get_gtmEntry_Record')?['cat_initiativename']}<br>\nBusiness Owner: @{body('Get_Business_Owner_Record')?['firstname']} @{body('Get_Business_Owner_Record')?['lastname']}<br>\nSubmitted By: @{body('Get_Submitter_Record')?['firstname']} @{body('Get_Submitter_Record')?['lastname']}<br>\nSubmitted Date/Time: @{body('Convert_time_zone')}<br>\n<a href=\"@{variables('varDetailsLink')}\">Click Here for Details Link</a></p>","cat_torecipients":"@variables('varGTMTeamEmails')","_cat_gtmentry_value":"@body('Get_gtmEntry_Record')?['cat_gtmentryid']","_ownerid_type":"","_regardingobjectid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_orbitemailses'))}/items","authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Set_variable_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varCreatedByUserProfilePhotoURL","value":"https://tmobileusa-my.sharepoint.com/User%20Photos/Profile%20Pictures/@{replace(replace(body('Get_Submitter_Record')?['internalemailaddress'],'@','_'),'.','_')}_LThumb.jpg"}},"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel":{"runAfter":{"Terminate_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostChannelAdaptiveCard"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams_1']['connectionId']"}},"method":"post","body":{"recipient":{"channelId":"19:9695f0e6830541958e7736ad175bcf56@thread.skype"},"messageBody":"{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.0\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"New ORBIT Initiative Submitted\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Large\",\n            \"color\": \"Accent\",\n            \"separator\": true\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://pbs.twimg.com/profile_images/3647943215/d7f12830b3c17a5a9e4afcc370e3a37e_400x400.jpeg\",\n                            \"size\": \"Small\",\n                            \"style\": \"Person\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{body('Get_Submitter_Record')?['nickname']}\",\n                            \"weight\": \"Bolder\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"@{body('Get_Submitter_Record')?['jobtitle']}@{body('Get_Submitter_Record')?['title']}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Name:\",\n                    \"value\": \"@{body('Get_gtmEntry_Record')?['cat_initiativename']}\"\n                },\n                {\n                    \"title\": \"Type:\",\n                    \"value\": \"@{body('Get_Initiative_Record')?['_cat_initiativetype_label']}\"\n                },\n                {\n                    \"title\": \"Submit Date:\",\n                    \"value\": \"@{body('Get_gtmEntry_Record')?['cat_originalcreatedondate']}\"\n                },\n                {\n                    \"title\": \"Sponsoring VP:\",\n                    \"value\": \"@{body('Get_Sponsoring_VP_Record')?['nickname']}\"\n                },\n                {\n                    \"title\": \"Business Owner:\",\n                    \"value\": \"@{body('Get_Business_Owner_Record')?['nickname']}\"\n                }\n            ],\n            \"separator\": true\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Description\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Description\",\n                        \"wrap\": true,\n                        \"horizontalAlignment\": \"Left\",\n                        \"weight\": \"Bolder\",\n                        \"color\": \"Accent\"\n                    },\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"@{body('Get_gtmEntry_Record')?['cat_description']}\",\n\n\n                        \"horizontalAlignment\": \"Left\"\n                    }\n                ]\n            }\n        },\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Situation\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Situation\",\n                        \"weight\": \"Bolder\",\n                        \"color\": \"Accent\"\n                    },\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"@{body('Get_gtmEntry_Record')?['cat_situation']}\"\n                    }\n                ]\n            }\n        },\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Launch ORBIT\",\n            \"iconUrl\": \"https://www.aivanet.com/wp-content/uploads/2019/08/1565384445_5328777588904.png\",\n            \"url\": \"@{variables('varDetailsLink')}\"\n        }\n    ]\n}"},"path":"/flowbot/actions/adaptivecard/recipienttypes/channel","queries":{"groupId":"641163e9-cd02-4c28-9556-69b60241b222"},"authentication":"@parameters('$authentication')"}},"Set_variable_5":{"runAfter":{"Get_Submitter_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varFixedEmail","value":"@{replace(replace(body('Get_Submitter_Record')?['internalemailaddress'],'@','_'),'.','_')}"}},"Terminate_2":{"runAfter":{"Create_a_new_record_8":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}},"default":{"actions":{"List_records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('crba4_stageapprovaluserses'))}/items","queries":{"$filter":"_crba4_orbitbpf_value eq @{triggerOutputs()?['body/businessprocessflowinstanceid']} and crba4_name eq '@{variables('varActiveStageName')}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@body('List_records')?['value']","actions":{"List_records_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items","queries":{"$filter":"_crffc_crba4_stageapprovalusers_value eq @{items('Apply_to_each_3')?['crba4_stageapprovalusersid']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_records_2')?['value']","actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"cat_approvalstatus":809060000,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_stageapprovalresponseses'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['cat_stageapprovalresponsesid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}}},"expression":"@variables('varActiveStageName')","type":"Switch"}}},"expression":{"or":[{"equals":["@body('Get_gtmEntry_Record')?['cat_phase']",809060012]},{"equals":["@variables('varActiveStageName')","Approved"]},{"equals":["@body('Get_gtmEntry_Record')?['cat_changerequest']","yes"]}]},"type":"If"},"Get_GTM_Team_Users":{"runAfter":{"Initialize_and_Set_-_Details_Deep_Link":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('teammemberships'))}/items","queries":{"$filter":"teamid eq 9aa34ecb-e117-ea11-a811-000d3a36857d"},"authentication":"@parameters('$authentication')"}},"Initialize_and_Set_-_Details_Deep_Link":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDetailsLink","type":"String","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&RecordID=', triggerOutputs()?['body/_bpf_cat_gtmentryid_value'], '&NavScreen=Details&appId=/providers/Microsoft.PowerApps/apps/',variables('varAppID'))}"}]}},"Convert_time_zone":{"runAfter":{"Initialize_and_Set_-_User_Approvals_Dashboard_Deep_Link":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Get_gtmEntry_Record')?['createdon']","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"Pacific Standard Time"}},"Initialize_variable":{"runAfter":{"Initialize_varStageCategory_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varStageApprovalUserRecordID","type":"String"}]}},"Initialize_and_Set_Variable_-_Approvals_Dashboard_Deep_Link":{"runAfter":{"Initialize_and_Set_varActiveStageID_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varInitiativeApprovalsDashboardLink","type":"String","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&RecordID=', triggerOutputs()?['body/_bpf_cat_gtmentryid_value'], '&NavScreen=Approvals&appId=/providers/Microsoft.PowerApps/apps/',variables('varAppID'))}"}]}},"Filter_array":{"runAfter":{"GetBPFActivePath":["Succeeded"]},"type":"Query","inputs":{"from":"@body('GetBPFActivePath')?['value']","where":"@equals(item()?['processstageid'], triggerOutputs()?['body/_activestageid_value'])"}},"GetBPFActivePath":{"runAfter":{"Apply_to_Each__-_Set_Variable_-_AppID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetBPFActivePath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36']['connectionId']"}},"method":"get","path":"/api/data/v9.1/RetrieveActivePath(ProcessInstanceId=@{encodeURIComponent(triggerOutputs()?['body/businessprocessflowinstanceid'])})","authentication":"@parameters('$authentication')"}},"Initialize_Variable_-_AppID":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppID","type":"string"}]}},"List_Records_-_Environmental_Variables_-_ORBITAppID":{"runAfter":{"Initialize_Variable_-_AppID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq 'cat_ORBITAppID'"},"authentication":"@parameters('$authentication')"}},"Apply_to_Each__-_Set_Variable_-_AppID":{"foreach":"@outputs('List_Records_-_Environmental_Variables_-_ORBITAppID')?['body/value']","actions":{"Set_Variable_-_AppID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAppID","value":"@items('Apply_to_Each__-_Set_Variable_-_AppID')?['defaultvalue']"}}},"runAfter":{"List_Records_-_Environmental_Variables_-_ORBITAppID":["Succeeded"]},"type":"Foreach"},"Initialize_variable_2":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCreatedByUserProfilePhotoURL","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Get_gtmEntry_Record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFixedEmail","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}