solutions/TMobile/Workflows/GetCDSRecordPermissions-B4B2521B-96CC-EA11-A812-000D3A37EF43.json
{"properties":{"connectionReferences":{"shared_webcontents":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crffc_sharedwebcontents_9cfe7"},"api":{"name":"shared_webcontents"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"UserID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"RecordID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["UserID_Value","RecordID_Value"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"recordpermissions":"@body('Parse_JSON')?['AccessRights']"},"schema":{"type":"object","properties":{"recordpermissions":{"title":"RecordPermissions","x-ms-dynamically-added":true,"type":"string"}}}}},"Invoke_an_HTTP_request":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"@variables('varAPIString')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"UserID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varUserID","type":"string","value":"@{triggerBody()['UserID_Value']}"}]}},"RecordID":{"runAfter":{"UserID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varRecordID","type":"string","value":"@{triggerBody()['RecordID_Value']}"}]}},"Initialize_variable":{"runAfter":{"RecordID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAPIString","type":"string","value":"@{concat(\r\n'https://org86cd876f.crm.dynamics.com/api/data/v9.1/systemusers('\r\n, variables('varUserID'), \r\n')/Microsoft.Dynamics.CRM.RetrievePrincipalAccess(Target =@Target)?@Target={''@odata.id'' : ''cat_gtmentries('\r\n, variables('varRecordID'),\r\n')''}')}"}]}},"Parse_JSON":{"runAfter":{"Invoke_an_HTTP_request":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Invoke_an_HTTP_request')?['body']","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"AccessRights":{"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}