solutions/TMobile/Workflows/ProcessApprovalResponses-54C268C4-4375-EA11-A811-000D3A36886F.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_dynamicscrmonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_dynamicscrmonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cat_stageapprovalresponses","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Rejected":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"New","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"Your Sponsoring VP Has Rejected Your Request","item/cat_bccrecipients":"Ingrid.Boone@T-Mobile.com;Jane.Stanley11@T-Mobile.com;Kenneth.Chardos1@T-Mobile.com;Amelia.Burger1@T-Mobile.com","item/cat_ccrecipients":"Jody.Still2@T-Mobile.com;Jimmie.Lee54@T-Mobile.com;Denise.Lowell1@T-Mobile.com","item/description":"New Phase Rejection","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"<p>@{outputs('Get_Business_Owner_Record')?['body/firstname']} @{outputs('Get_Business_Owner_Record')?['body/lastname']},<br>\n<br>\n<br>\n@{variables('varApproverFullName')}  has rejected your approval request for @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']}. &nbsp;<br>\n<br>\n<br>\n<strong>Rejection Comments:</strong><br>\n@{triggerOutputs()?['body/cat_approvercomments']}<br>\n<br>\n<br>\nPlease resolve this issue and work with the Enterprise GTM team to update your submission and resubmit for approval.<br>\n<br>\n<br>\nThank you,<br>\n<br>\nGTM Intake Team<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","item/cat_torecipients":"@outputs('Get_Business_Owner_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_Primary_Initiative_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"Alignment","actions":{"Create_a_new_record_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"An Approver Has Rejected @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']} Steering","item/description":"Alignment Phase Rejection","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"@{variables('varApproverFullName')}  has rejected @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']} to move forward. &nbsp;<br>\n<br>\nPhase Rejected: Alignment\n<br>\n<strong>Rejection Comments:</strong><br>\n@{triggerOutputs()?['body/cat_approvercomments']}<br>","item/cat_torecipients":"Amelia.Burger1@T-Mobile.com;Jody.Still2@T-Mobile.com","item/_cat_gtmentry_value":"@outputs('Get_Primary_Initiative_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Create_a_new_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"An Approver Has Rejected @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']}","item/cat_bccrecipients":"Ingrid.Boone@T-Mobile.com;Kenneth.Chardos1@T-Mobile.com;Jane.Stanley11@T-Mobile.com;Amelia.Burger1@T-Mobile.com","item/cat_ccrecipients":"Jimmie.Lee54@T-Mobile.com;Jody.Still2@T-Mobile.com;Denise.Lowell1@T-Mobile.com","item/description":"Other Phase Rejection","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"<p>@{outputs('Get_Business_Owner_Record')?['body/firstname']} @{outputs('Get_Business_Owner_Record')?['body/lastname']},<br>Quarterly Planning\n<br>\n<br>\n@{variables('varApproverFullName')} has rejected @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']} to move forward. &nbsp;&nbsp;<br>\n<br>\n<strong>Phase Rejected</strong>: @{outputs('Get_Stage_Approval_Users_Record')?['body/crba4_name']}<br>\n<br>\n<strong>Rejection Comments:</strong><br>\n@{triggerOutputs()?['body/cat_approvercomments']}<br>\n<br>\n<br>\nPlease resolve this issue and work with the Enterprise GTM team to update your submission and resubmit for approval.<br>\n<br>\n<br>\nThank you,<br>\n<br>\nGTM Intake Team<br>\n<br>\n<br>\nFor questions on process, please contact the <a href=\"mailto:EnterpriseGTM@T-Mobile.com\">Enterprise GTM</a> team.</p>","item/cat_torecipients":"@outputs('Get_Business_Owner_Record')?['body/internalemailaddress']","item/_cat_gtmentry_value":"@outputs('Get_Primary_Initiative_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":"@outputs('Get_record_2')?['body/crba4_name']","type":"Switch"}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_stageapprovalresponseses","$filter":"_cat_gtmentry_value eq @{triggerOutputs()?['body/_cat_gtmentry_value']} and cat_approvalstatus ne 809060003 and _crffc_crba4_stageapprovalusers_value eq @{triggerOutputs()?['body/_crffc_crba4_stageapprovalusers_value']} and cat_approvalstatus ne null"},"authentication":"@parameters('$authentication')"}},"Check_if_All_Phase_Approvals_are_Approved":{"actions":{"Condition_5":{"actions":{},"runAfter":{},"else":{"actions":{"Create_a_new_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","item/subject":"All Approvers Have Approved @{outputs('Get_Primary_Initiative_Record')?['body/cat_initiativename']}","item/cat_ccrecipients":"Ingrid.Boone@T-Mobile.com;Kenneth.Chardos1@T-Mobile.com;Jane.Stanley11@T-Mobile.com;Amelia.Burger1@T-Mobile.com","item/description":"Phase Approval Notification","item/isbilled":false,"item/ismapiprivate":false,"item/isworkflowcreated":false,"item/leftvoicemail":false,"item/cat_messagebody":"<p>Type: @{outputs('Get_record_3')?['body/_cat_initiativetype_label']}<br>\n<br>\nPhase Approved: @{outputs('Get_Stage_Approval_Users_Record')?['body/crba4_name']}<br>\n<br>\n<a href=\"@{variables('varInitiativeDetailsLink')}\">Click Here</a>","item/cat_torecipients":"Jimmie.Lee54@T-Mobile.com;Jody.Still2@T-Mobile.com;Denise.Lowell1@T-Mobile.com","item/_cat_gtmentry_value":"@outputs('Get_Primary_Initiative_Record')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@empty(body('ArrayValues'))",true]},"type":"If"}},"runAfter":{"FilterPhaseApprovals":["Succeeded"]},"expression":{"equals":["@empty(body('FilterPhaseApprovals'))",true]},"type":"If"},"ArrayValues":{"runAfter":{"List_records":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_records')?['body/value']","where":"@equals(item()?['statuscode'], 1)"}},"FilterPhaseApprovals":{"runAfter":{"ArrayValues":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_records')?['body/value']","where":"@and(or(equals(item()?['cat_approvalstatus'], 809060000),equals(item()?['cat_approvalstatus'], 809060002)),equals(item()?['statuscode'], 1))"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_approvalstatus']",809060002]},"type":"If"},"Get_Approver_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_cat_approvaluser_value']"},"authentication":"@parameters('$authentication')"}},"Get_Stage_Approval_Users_Record":{"runAfter":{"Get_record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crba4_stageapprovaluserses","recordId":"@triggerOutputs()?['body/_crffc_crba4_stageapprovalusers_value']"},"authentication":"@parameters('$authentication')"}},"Get_Approval_Process_Workflow_Record":{"runAfter":{"Get_Stage_Approval_Users_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_orbit_initiative_approval_processes","recordId":"@outputs('Get_Stage_Approval_Users_Record')?['body/_crba4_orbitbpf_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Initiative_Record":{"runAfter":{"Get_Approval_Process_Workflow_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@outputs('Get_Approval_Process_Workflow_Record')?['body/_bpf_cat_gtmentryid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Business_Owner_Record":{"runAfter":{"Get_record_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Primary_Initiative_Record')?['body/_cat_businessowner_value']"},"authentication":"@parameters('$authentication')"}},"Get_Sponsoring_VP_Record":{"runAfter":{"Get_Business_Owner_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Primary_Initiative_Record')?['body/_cat_sponsor_value']"},"authentication":"@parameters('$authentication')"}},"Get_GTM_Team_User_Records":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"teammemberships","$filter":"teamid eq 9aa34ecb-e117-ea11-a811-000d3a36857d"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_for_GTM_Team_User_Records":{"runAfter":{"Initialize_Details_Deep_Link_URL":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_GTM_Team_User_Records')?['body']","schema":{"type":"object","properties":{"statusCode":{"type":"integer"},"headers":{"type":"object","properties":{"Pragma":{"type":"string"},"Transfer-Encoding":{"type":"string"},"Vary":{"type":"string"},"x-ms-request-id":{"type":"string"},"Strict-Transport-Security":{"type":"string"},"X-Content-Type-Options":{"type":"string"},"X-Frame-Options":{"type":"string"},"Timing-Allow-Origin":{"type":"string"},"x-ms-apihub-cached-response":{"type":"string"},"Cache-Control":{"type":"string"},"Date":{"type":"string"},"Set-Cookie":{"type":"string"},"Content-Type":{"type":"string"},"Expires":{"type":"string"},"Content-Length":{"type":"string"}}},"body":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"systemuserid":{"type":"string"},"versionnumber":{"type":"integer"},"teammembershipid":{"type":"string"},"teamid":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","systemuserid","versionnumber","teammembershipid","teamid"]}}}}}}}},"Initialize_variable_2":{"runAfter":{"Get_Sponsoring_VP_Record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varGTMTeamEmailString","type":"String"}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON_for_GTM_Team_User_Records')?['value']","actions":{"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@items('Apply_to_each')?['systemuserid']"},"authentication":"@parameters('$authentication')"}},"Append_to_string_variable":{"runAfter":{"Get_record":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"varGTMTeamEmailString","value":";@{outputs('Get_record')?['body/internalemailaddress']}"}}},"runAfter":{"Parse_JSON_for_GTM_Team_User_Records":["Succeeded"]},"type":"Foreach"},"Initialize_Details_Deep_Link_URL":{"runAfter":{"Get_GTM_Team_User_Records":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varInitiativeDetailsLink","type":"String","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&tenantId=be0f980b-dd99-4b19-bd7b-bc71a09b026c&RecordID=', triggerOutputs()?['body/_cat_gtmentry_value'], '&NavScreen=Details&appId=/providers/Microsoft.PowerApps/apps/040fb586-f590-4005-b924-a88b1688fab8')}"}]}},"Get_record_2":{"runAfter":{"Switch_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"crba4_stageapprovaluserses","id":"@triggerOutputs()?['body/_crffc_crba4_stageapprovalusers_value']"},"authentication":"@parameters('$authentication')"}},"Get_record_3":{"runAfter":{"Create_a_new_record_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_dynamicscrmonline","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline"},"parameters":{"dataset":"orgf90b00fe.crm","table":"cat_gtmentries","id":"@triggerOutputs()?['body/_cat_gtmentry_value']"},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_Primary_Initiative_Record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/cat_approvalstatus']",""]},"type":"If"},"Create_a_new_record_4":{"runAfter":{"Condition_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitapprovalshistories","item/cat_name":"@outputs('Get_record_2')?['body/crba4_name']","item/cat_approvalstatusresponse":"@triggerOutputs()?['body/cat_approvalstatus']","item/cat_approvercomments":"@triggerOutputs()?['body/cat_approvercomments']","item/_cat_approvaluser_value":"@triggerOutputs()?['body/_cat_approvaluser_value']","item/_cat_gtmentry_value":"@triggerOutputs()?['body/_cat_gtmentry_value']","item/_ownerid_type":"","item/_cat_stageapprovalresponses_value":"@triggerOutputs()?['body/cat_stageapprovalresponsesid']","item/_cat_stageapprovalusers_value":"@triggerOutputs()?['body/_crffc_crba4_stageapprovalusers_value']"},"authentication":"@parameters('$authentication')"}},"Switch_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"cases":{"Case":{"case":"ORBITGTM@T-Mobile.com","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varApproverFullName","value":"Quarterly Planning"}}}},"Case_2":{"case":"SVC_PRD_SingleIntake@T-Mobile.com","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varApproverFullName","value":"Offers Steering"}}}}},"default":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varApproverFullName","value":"@{outputs('Get_Approver_Record')?['body/firstname']} @{outputs('Get_Approver_Record')?['body/lastname']}"}}}},"expression":"@outputs('Get_Approver_Record')?['body/internalemailaddress']","type":"Switch"},"Initialize_variable":{"runAfter":{"Apply_to_Each__-_Set_Variable_-_AppID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApproverFullName","type":"string"}]}},"Initialize_Variable_-_AppID":{"runAfter":{"Get_Approver_Record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppID","type":"string"}]}},"List_Records_-_Environmental_Variables_-_ORBITAppID":{"runAfter":{"Initialize_Variable_-_AppID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq 'cat_ORBITAppID'"},"authentication":"@parameters('$authentication')"}},"Apply_to_Each__-_Set_Variable_-_AppID":{"foreach":"@outputs('List_Records_-_Environmental_Variables_-_ORBITAppID')?['body/value']","actions":{"Set_Variable_-_varAppID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAppID","value":"@items('Apply_to_Each__-_Set_Variable_-_AppID')?['defaultvalue']"}}},"runAfter":{"List_Records_-_Environmental_Variables_-_ORBITAppID":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}