solutions/TMobile/Workflows/SendEmailWhenORBITEmailRecordisCreated-BBC22A21-FB66-EA11-A811-000D3A36880E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Record_is_Created_-_ORBITEmails":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"SubscribeOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","scope":"Organization"},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Condition":{"actions":{"Get_Record_-_GTMEntry":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/cat_recordid']"},"authentication":"@parameters('$authentication')"}},"Set_Variable_-_VarInitiativeDeepLinkURL":{"runAfter":{"Get_Record_-_GTMEntry":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varInitiativeDeepLinkURL","value":"@{concat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&RecordID=', outputs('Get_Record_-_GTMEntry')?['body/cat_gtmentryid'], '&NavScreen=UserApprovals&appId=/providers/Microsoft.PowerApps/apps/', variables('varAppID'))}"}},"Get_Record_-_Users_-_Business_Owner":{"runAfter":{"Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Record_-_GTMEntry')?['body/_cat_businessowner_value']"},"authentication":"@parameters('$authentication')"}},"Send_Email_-_Access_Request":{"runAfter":{"Get_Record_-_Users_-_Business_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference')?['body/cat_torecipients']","emailMessage/Subject":"@outputs('Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference')?['body/subject']","emailMessage/Body":"@{variables('varHTMLHeader')}\n@{variables('varHTMLHeaderRibbon')}\n@{outputs('Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference')?['body/cat_messagebody']}\n@{variables('varHTMLFooter')}","emailMessage/Cc":"@outputs('Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference')?['body/cat_ccrecipients']","emailMessage/Bcc":"@outputs('Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference')?['body/cat_bccrecipients']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_Record_-_ORBIT_Email_Add_GTMEntry_Reference":{"runAfter":{"Set_Variable_-_VarInitiativeDeepLinkURL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","id":"@triggerOutputs()?['body/activityid']","item/subject":"ORBIT Access Request - @{outputs('Get_Record_-_GTMEntry')?['body/cat_initiativename']}","item/cat_messagebody":"@{triggerOutputs()?['body/cat_messagebody']}\n\nLink to Initiative: @{variables('varInitiativeDeepLinkURL')}","item/cat_recordid":"@null","item/_cat_gtmentry_value":"@outputs('Get_Record_-_GTMEntry')?['body/cat_gtmentryid']","item/_ownerid_type":"","item/_regardingobjectid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_and_Set_Variable_-_varHTMLFooter":["Succeeded"]},"else":{"actions":{"Send_Email_-_General_Email_Template":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/cat_torecipients']","emailMessage/Subject":"@triggerOutputs()?['body/subject']","emailMessage/Body":"@{variables('varHTMLHeader')}\n@{variables('varHTMLHeaderRibbon')}\n@{triggerOutputs()?['body/cat_messagebody']}\n@{variables('varHTMLFooter')}","emailMessage/Cc":"@triggerOutputs()?['body/cat_ccrecipients']","emailMessage/Bcc":"@{triggerOutputs()?['body/cat_bccrecipients']};brian.hodel1@t-mobile.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/cat_recordid']","@null"]}},"type":"If"},"List_Records_-_Environmental_Variables_-_ORBITAppID":{"runAfter":{"Initialize_Variable_-_varAppID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq 'cat_ORBITAppID'"},"authentication":"@parameters('$authentication')"}},"Apply_to_Each__-_Set_Variable_-_AppID":{"foreach":"@outputs('List_Records_-_Environmental_Variables_-_ORBITAppID')?['body/value']","actions":{"Set_Variable_-_varAppID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAppID","value":"@items('Apply_to_Each__-_Set_Variable_-_AppID')?['defaultvalue']"}}},"runAfter":{"List_Records_-_Environmental_Variables_-_ORBITAppID":["Succeeded"]},"type":"Foreach"},"Initialize_and_Set_Variable_-_varHTMLHeader":{"runAfter":{"Initialize_and_Set_Variable_-_varTNationOrbitHelpPageURL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHTMLHeader","type":"string","value":"<head> <style>\nbody {\n background-color: #efefef;\n font-family: Segoe UI;\n text-align: left;\n}\n#content {\n border: 0px solid #efefef;\n background-color: #ffffff;\n width: 650px;\n margin-bottom: 20px;\n display: inline-block;\n}\n#logo {\n margin-left: 10px;\n   margin-right: 10px;\nmargin-top: 10px;\nmargin-bottom: 10px;\n height: 50px;\npadding: 10px;\n}\n#header {\n font-size: 24px;\n margin-left: 50px;\n margin-top: 10px;\n margin-bottom: 10px;\n}\n #icon {\n  height:30px;\n  margin-left: 0px;\n  margin-right: 10px;\n  }\n#footerRibbon {\n background-color: #cacaca;\n   width: 100%;\n}\n#ribbon {\n background-color: #E20074;\n height: 20px;\n}\n#ribbonContent {\n font-size: 24px;\n padding-left: 0px;\n padding-top: 0px;\n padding-bottom: 0px;\n color: white;\n width: 100%;\n padding-right: 0px;\n}\n#message > td {\n font-size: 14px;\n padding-left: 60px;\n padding-right: 60px;\n padding-top: 20px;\n padding-bottom: 20px;\n}\n#footer > td {\n font-size: 14px;\n background-color: #bfbfbf;\n height: 40px;\n padding-top: 15px;\n padding-left: 40px;\n padding-bottom: 20px;\n}\n#form {\n width: 100%;\n border-collapse: collapse;\n}\n#app {\n width: 60%;\n font-size: 12px;\n}\n.label {\n color: #5f5f5f\n}\ntable {\n border-collapse: collapse;\n width: 100%;\n}\nth, td {\n padding: 10px;\n text-align: left;\n}\n</style> </head>"}]}},"Initialize_and_Set_Variable_-_varHTMLHeaderRibbon":{"runAfter":{"Initialize_and_Set_Variable_-_varHTMLHeader":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHTMLHeaderRibbon","type":"string","value":"\n<p></p>\n<div id=\"content\">\n<table id=\"form\">\n<tbody>\n<tr id=\"header\">\n<td><img id=\"logo\" src=\"https://capitpowerappscdn.azureedge.net/orbitresource/T-Mobile_New_Logo_Primary_RGB_M-on-W_Transparent.png\" height=\"50\" align=\"left\" /> <a> <img id=\"logo\" src=\"https://capitpowerappssa.blob.core.windows.net/orbitresource/Orbit_Lockup_RGB.png\" alt=\"ORBIT\" height=\"50\" align=\"right\" /> </a></td>\n</tr>\n<tr id=\"ribbon\">\n<td colspan=\"5\">\n<table>\n<tbody>\n<tr height: 20px>\n<td>\n<p id=\"ribbonContent\">@{triggerOutputs()?['body/description']}</p>\n</td>\n</tr>\n</tbody>\n</table>\n</td>\n</tr>\n<tr id=\"message\">\n<td>"}]}},"Initialize_and_Set_Variable_-_varHTMLFooter":{"runAfter":{"Initialize_and_Set_Variable_-_varHTMLHeaderRibbon":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHTMLFooter","type":"string","value":"</td>\n</tr>\n\n  </tbody>\n</table>\n  \n  \n  <table id=\"footerRibbon\">\n<tr>\n\n  <td style=\"text-align:left\"   width=\"200\">\n  Need Help?      Contact Us! \n  </td>\n  <td align=\"left\"  width=\"120\">\n  <a href=\"@{variables('varTNationOrbitHelpPageURL')}\"> <img id=\"icon\" src=\"https://capitpowerappscdn.azureedge.net/orbitresource/TMO-OVLogo.png\" alt=\"TNation ORBIT Help\" height=\"20\" align=\"left\" /> </a> \n  </td>\n  <td width=\"40\" >\n  <a href=\"@{variables('varSlackORBITHelpURL')}\"> <img id=\"icon\" src=\"https://capitpowerappscdn.azureedge.net/orbitresource/slack-logo-icon.png\" alt=\"Slack ORBIT Help\" height=\"20\"  /> </a>\n  </td>\n  <td width=\"40\" align=\"left\" style=\"text-align:left\">\n  <a href=\"mailto: @{variables('varEnterpriseGTMEmail')}}\"> <img id=\"icon\" style=\"display: inline-block; border: 0; outline: none;\" src=\"https://capitpowerappscdn.azureedge.net/orbitresource/EmailIcon.png\" alt=\"Send Enterprise GTM an Email\" height=\"20\" /> </a>\n  </td>\n  \n<td>\n  <p width = 100%>\n  </td>\n  \n  <td width=\"30\">\n  </td>\n<td width=\"30\">\n  </td>\n<td width=\"30\">\n  </td>\n<td width=\"30\">\n  </td>\n  </table>\n  </td>\n</tr>\n\n</div>"}]}},"Initialize_and_Set_Variable_-_varTNationOrbitHelpPageURL":{"runAfter":{"Initialize_and_Set_Variable_-_varEnterpriseGTMEmail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTNationOrbitHelpPageURL","type":"string","value":"https://tmobileusa.sharepoint.com/sites/marketing/Pages/Orbit.aspx"}]}},"Initialize_Variable_-_varInitiativeDeepLinkURL":{"runAfter":{"Condition_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varInitiativeDeepLinkURL","type":"string"}]}},"Initialize_Variable_-_varORBITAppURL":{"runAfter":{"Apply_to_Each__-_Set_Variable_-_AppID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varORBITAppURL","type":"string","value":"@{\r\nconcat('https://web.powerapps.com/webplayer/iframeapp?source=iframe&tenantId=be0f980b-dd99-4b19-bd7b-bc71a09b026c&appId=/providers/Microsoft.PowerApps/apps/', variables('varAppID'))}"}]}},"Initialize_and_Set_Variable_-_varSlackORBITHelpURL":{"runAfter":{"Initialize_Variable_-_varORBITAppURL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSlackORBITHelpURL","type":"string","value":"https://t-mo.slack.com/archives/CLQ95471U"}]}},"Initialize_and_Set_Variable_-_varEnterpriseGTMEmail":{"runAfter":{"Initialize_and_Set_Variable_-_varSlackORBITHelpURL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEnterpriseGTMEmail","type":"string","value":"EnterpriseGTM@t-mobile.com"}]}},"Initialize_Variable_-_varAppID":{"runAfter":{"Initialize_Variable_-_varInitiativeDeepLinkURL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppID","type":"string"}]}},"Update_Record_-_ORBITEmails_-_Actual_End_Date":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","id":"@triggerOutputs()?['body/activityid']","item/statecode":1,"item/actualend":"@utcNow()","item/actualstart":"@triggerOutputs()?['body/createdon']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{},"runAfter":{},"else":{"actions":{"Update_Record_-_ORBITEmails_-_Actual_End_Date_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"cat_orbitemailses","id":"@triggerOutputs()?['body/activityid']","item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Update_Record_-_ORBITEmails_-_Actual_End_Date_2":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@triggerOutputs()?['body/actualend']","@null"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}