solutions/TMobile/Workflows/SetBPFStageOnNewRecordCreation-62D91EB5-7595-EA11-A811-000D3A329613.json
{"properties":{"connectionReferences":{"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"new_orbit_initiative_approval_process","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"activestageid","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"concurrency":{"runs":1}}}},"actions":{"GetBPFActivePath":{"runAfter":{"Get_Record_-_GTMEntry_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetBPFActivePath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36_1']['connectionId']"}},"method":"get","path":"/api/data/v9.1/RetrieveActivePath(ProcessInstanceId=@{encodeURIComponent(triggerOutputs()?['body/businessprocessflowinstanceid'])})","authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"GetBPFActivePath":["Succeeded"]},"type":"Query","inputs":{"from":"@body('GetBPFActivePath')?['value']","where":"@equals(item()?['processstageid'], triggerOutputs()?['body/_activestageid_value'])"}},"Initialize_Variable_-_varActiveStageName":{"runAfter":{"Filter_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageName","type":"String"}]}},"Initialize_Variable_-_varActiveStageID":{"runAfter":{"Initialize_Variable_-_varActiveStageName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActiveStageID","type":"String"}]}},"Initialize_Variable_-_varStageCategory":{"runAfter":{"Initialize_Variable_-_varActiveStageID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varStageCategory","type":"Integer"}]}},"For_Each_-_Set_Active_Stage_Variables":{"foreach":"@body('Filter_array')","actions":{"Set_Variable_-_varStageName_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varActiveStageName","value":"@items('For_Each_-_Set_Active_Stage_Variables')?['stagename']"}},"Set_Variable_-_varStageCategory":{"runAfter":{"Set_Variable_-_varStageName_Variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varStageCategory","value":"@items('For_Each_-_Set_Active_Stage_Variables')?['stagecategory']"}},"Set_Variable_-_varActiveStageID":{"runAfter":{"Set_Variable_-_varStageCategory":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varActiveStageID","value":"@items('For_Each_-_Set_Active_Stage_Variables')?['processstageid']"}}},"runAfter":{"Initialize_Variable_-_varStageCategory":["Succeeded"]},"type":"Foreach"},"Condition_-_Phase_=_Draft":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"For_Each_-_Set_Active_Stage_Variables":["Succeeded"]},"else":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"Draft","actions":{"Update_Record_-_ORBIT_Initiative_Approval_Process":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"_activestageid_value":"@{Body('GetBPFActivePath')?['value']?[1]?['processstageid']}"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('new_orbit_initiative_approval_processes'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/businessprocessflowinstanceid']))}","authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":"@variables('varActiveStageName')","type":"Switch"}}},"expression":{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_phase']",809060012]},"type":"If"},"Get_Record_-_GTMEntry_2":{"runAfter":{"Add_Legacy_GTMEntryID_To_Record_If_New_and_No_Legacy_ID_Exists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_bpf_cat_gtmentryid_value']"},"authentication":"@parameters('$authentication')"}},"Add_Legacy_GTMEntryID_To_Record_If_New_and_No_Legacy_ID_Exists":{"actions":{"List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items","queries":{"$filter":"cat_legacygtmentryid ne 9999999 ","$orderby":"cat_legacygtmentryid desc","$top":1},"authentication":"@parameters('$authentication')"}},"Get_Max_LegacyGTMEntryID_Value":{"foreach":"@body('List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID')?['value']","actions":{"Set_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varCurrentMaxLegacyGTMEntryID","value":"@items('Get_Max_LegacyGTMEntryID_Value')?['cat_legacygtmentryid']"}}},"runAfter":{"List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID":["Succeeded"]},"type":"Foreach"},"Increment_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{"Get_Max_LegacyGTMEntryID_Value":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"varCurrentMaxLegacyGTMEntryID","value":1}},"Add_Legacy_GTMEntryID_To_Record":{"runAfter":{"Increment_Variable_-_varCurrentMaxLegacyGTMEntryID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"cat_legacygtmentryid":"@variables('varCurrentMaxLegacyGTMEntryID')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/_bpf_cat_gtmentryid_value']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_-_Cancel_Flow_if_Change_Request":["Succeeded"]},"expression":{"or":[{"and":[{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_phase']",809060000]},{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_legacygtmentryid']",9999999]}]},{"and":[{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_phase']",809060000]},{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_legacygtmentryid']","@null"]}]}]},"type":"If"},"Get_Record_-_gtmEntry":{"runAfter":{"Initialize_Variable_-_varCurrentMaxLegacyGTMEntryID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/_bpf_cat_gtmentryid_value']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Cancel_Flow_if_Change_Request":{"actions":{"Terminate_3":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_Record_-_gtmEntry":["Succeeded"]},"expression":{"equals":["@outputs('Get_Record_-_gtmEntry')?['body/cat_changerequest']",true]},"type":"If"},"Initialize_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCurrentMaxLegacyGTMEntryID","type":"integer"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}