solutions/TMobile/Workflows/UpdateRecordOwningTeam-FC40FCCE-AB94-EA11-A811-000D3A329613.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Record_is_Created,_Updated_-_GTMEntryID":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cat_gtmentry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cat_lobchannelhorizontal,cat_darkstatus","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition_-_Dark_OR_Change_Request":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"Device Launch","actions":{"List_records_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Device Launch - Other - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records_8')?['body/value']","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each')?['@odata.id']"}}},"runAfter":{"List_records_8":["Succeeded"]},"type":"Foreach"}}},"Case_2":{"case":"Service Offer","actions":{"Switch_2":{"runAfter":{},"cases":{"Case":{"case":"Consumer Markets Postpaid","actions":{"List_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Service Offer - Consumer Markets Postpaid - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_5":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_5')?['@odata.id']"}}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"}}},"Case_2":{"case":"Consumer Markets Prepaid","actions":{"List_records_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Service Offer - Consumer Markets Prepaid - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('List_records_3')?['body/value']","actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_4')?['@odata.id']"}}},"runAfter":{"List_records_3":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{"List_records_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Service Offer - Other - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_records_4')?['body/value']","actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_3')?['@odata.id']"}}},"runAfter":{"List_records_4":["Succeeded"]},"type":"Foreach"}}},"expression":"@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue']","type":"Switch"}}},"Case_3":{"case":"Device Promotion","actions":{"Switch_3":{"runAfter":{},"cases":{"Case":{"case":"Consumer Markets Postpaid","actions":{"List_records_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Device Promotion - Consumer Markets Postpaid - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_6":{"foreach":"@outputs('List_records_5')?['body/value']","actions":{"Set_variable_8":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_6')?['@odata.id']"}}},"runAfter":{"List_records_5":["Succeeded"]},"type":"Foreach"}}},"Case_2":{"case":"Consumer Markets Prepaid","actions":{"List_records_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Device Promotion - Consumer Markets Prepaid - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_7":{"foreach":"@outputs('List_records_6')?['body/value']","actions":{"Set_variable_6":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_7')?['@odata.id']"}}},"runAfter":{"List_records_6":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{"List_records_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Device Promotion - Other - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_8":{"foreach":"@outputs('List_records_7')?['body/value']","actions":{"Set_variable_7":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_8')?['@odata.id']"}}},"runAfter":{"List_records_7":["Succeeded"]},"type":"Foreach"}}},"expression":"@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue']","type":"Switch"}}}},"default":{"actions":{"List_records_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq '@{body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue']} - Dark'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_9":{"foreach":"@outputs('List_records_9')?['body/value']","actions":{"Set_variable_9":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_9')?['@odata.id']"}}},"runAfter":{"List_records_9":["Succeeded"]},"type":"Foreach"}}},"expression":"@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_initiativetype@OData.Community.Display.V1.FormattedValue']","type":"Switch"}},"runAfter":{"Initialize_Variable_-_varOwnerTeamID":["Succeeded"]},"else":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Non-Dark All'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_2')?['@odata.id']"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_darkstatus']",true]},"type":"If"},"Initialize_Variable_-_varOwnerTeamID":{"runAfter":{"Condition":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varOwnerTeamID","type":"string","value":"@{null}"}]}},"Condition_2":{"actions":{},"runAfter":{"Condition_-_Dark_OR_Change_Request":["Succeeded"]},"else":{"actions":{"List_records_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Dark - All'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_10":{"foreach":"@outputs('List_records_10')?['body/value']","actions":{"Set_variable_10":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varOwnerTeamID","value":"@items('Apply_to_each_10')?['@odata.id']"}}},"runAfter":{"List_records_10":["Succeeded"]},"type":"Foreach"}}},"expression":{"not":{"equals":["@variables('varOwnerTeamID')",""]}},"type":"If"},"Update_a_record":{"runAfter":{"Condition_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/cat_gtmentryid']","item/ownerid@odata.bind":"@variables('varOwnerTeamID')"},"authentication":"@parameters('$authentication')"}},"Get_Record_-_GTMEntry":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_gtmentries","recordId":"@triggerOutputs()?['body/cat_gtmentryid']"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_-_GTMEntry_Record_Output_Values":{"runAfter":{"Get_Record_-_GTMEntry":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Record_-_GTMEntry')?['body']","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"cat_brand@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_brand":{"type":"integer"},"_cat_originalcreatedbyuser_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_cat_originalcreatedbyuser_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_cat_originalcreatedbyuser_value@odata.type":{"type":"string"},"_cat_originalcreatedbyuser_value":{"type":"string"},"cat_initiativesubmitdate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_initiativesubmitdate@odata.type":{"type":"string"},"cat_initiativesubmitdate":{"type":"string"},"cat_keylaunch@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_keylaunch":{"type":"boolean"},"cat_initiativename":{"type":"string"},"_modifiedby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_modifiedby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_modifiedby_value@odata.type":{"type":"string"},"_modifiedby_value":{"type":"string"},"cat_legacygtmentryid@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_legacygtmentryid":{"type":"integer"},"cat_offertype@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_offertype":{"type":"integer"},"cat_lobchannelhorizontal@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_lobchannelhorizontal":{"type":"integer"},"_cat_sponsor_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_cat_sponsor_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_cat_sponsor_value@odata.type":{"type":"string"},"_cat_sponsor_value":{"type":"string"},"cat_submittedasdraft@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_submittedasdraft":{"type":"boolean"},"cat_steeringfyi@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_steeringfyi":{"type":"boolean"},"cat_investmentfund@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_investmentfund":{"type":"boolean"},"cat_initiativetypegroup@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_initiativetypegroup":{"type":"integer"},"cat_goesoncalendar@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_goesoncalendar":{"type":"boolean"},"cat_maprestricted@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_maprestricted":{"type":"boolean"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_owningbusinessunit_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owningbusinessunit_value@odata.type":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"cat_employeeeligible@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_employeeeligible":{"type":"boolean"},"_cat_businessowner_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_cat_businessowner_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_cat_businessowner_value@odata.type":{"type":"string"},"_cat_businessowner_value":{"type":"string"},"cat_enterprisecapitalplanning@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_enterprisecapitalplanning":{"type":"boolean"},"cat_getoutofthered@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_getoutofthered":{"type":"boolean"},"cat_promodetailslocked@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_promodetailslocked":{"type":"boolean"},"_ownerid_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_ownerid_value@odata.type":{"type":"string"},"_ownerid_value":{"type":"string"},"cat_market@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_market":{"type":"boolean"},"cat_employeediscount@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_employeediscount":{"type":"boolean"},"cat_changerequest@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_changerequest":{"type":"boolean"},"cat_limitedtimeoffer@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_limitedtimeoffer":{"type":"boolean"},"cat_gtmentryid@odata.type":{"type":"string"},"cat_gtmentryid":{"type":"string"},"cat_darkstatus@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_darkstatus":{"type":"boolean"},"cat_jumpeligible@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_jumpeligible":{"type":"boolean"},"timezoneruleversionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"timezoneruleversionnumber":{"type":"integer"},"statuscode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statuscode":{"type":"integer"},"createdon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"},"versionnumber@OData.Community.Display.V1.FormattedValue":{"type":"string"},"versionnumber@odata.type":{"type":"string"},"versionnumber":{"type":"integer"},"cat_activeservicerequired@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_activeservicerequired":{"type":"boolean"},"cat_replacinganexistingproduct@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_replacinganexistingproduct":{"type":"boolean"},"cat_priority@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_priority":{"type":"integer"},"cat_tbd@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_tbd":{"type":"boolean"},"cat_customerimpacting@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_customerimpacting":{"type":"boolean"},"cat_requestedlaunchdate@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_requestedlaunchdate@odata.type":{"type":"string"},"cat_requestedlaunchdate":{"type":"string"},"cat_keyinitiative@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_keyinitiative":{"type":"boolean"},"cat_promoeligibilitytool@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_promoeligibilitytool":{"type":"boolean"},"modifiedon@OData.Community.Display.V1.FormattedValue":{"type":"string"},"modifiedon@odata.type":{"type":"string"},"modifiedon":{"type":"string"},"cat_contingency@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_contingency":{"type":"boolean"},"cat_otherlaunch@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_otherlaunch":{"type":"boolean"},"cat_marketingsupportneeded@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_marketingsupportneeded":{"type":"integer"},"cat_integration@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_integration":{"type":"boolean"},"cat_desiredexecution@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_desiredexecution":{"type":"integer"},"cat_monitoring@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_monitoring":{"type":"boolean"},"_createdby_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_createdby_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_createdby_value@odata.type":{"type":"string"},"_createdby_value":{"type":"string"},"_owningteam_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_owningteam_value@odata.type":{"type":"string"},"_owningteam_value":{"type":"string"},"cat_initiativetype@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_initiativetype":{"type":"integer"},"cat_validationcheck@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_validationcheck":{"type":"integer"},"statecode@OData.Community.Display.V1.FormattedValue":{"type":"string"},"statecode":{"type":"integer"},"cat_carrierfreedom@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_carrierfreedom":{"type":"boolean"},"cat_phase@OData.Community.Display.V1.FormattedValue":{"type":"string"},"cat_phase":{"type":"integer"},"owningbusinessunit@odata.associationLink":{"type":"string"},"owningbusinessunit@odata.navigationLink":{"type":"string"},"ownerid@odata.associationLink":{"type":"string"},"ownerid@odata.navigationLink":{"type":"string"},"createdby@odata.associationLink":{"type":"string"},"createdby@odata.navigationLink":{"type":"string"},"createdonbehalfby@odata.associationLink":{"type":"string"},"createdonbehalfby@odata.navigationLink":{"type":"string"},"modifiedby@odata.associationLink":{"type":"string"},"modifiedby@odata.navigationLink":{"type":"string"},"modifiedonbehalfby@odata.associationLink":{"type":"string"},"modifiedonbehalfby@odata.navigationLink":{"type":"string"},"owninguser@odata.associationLink":{"type":"string"},"owninguser@odata.navigationLink":{"type":"string"},"owningteam@odata.associationLink":{"type":"string"},"owningteam@odata.navigationLink":{"type":"string"},"cat_gtmentry_SyncErrors@odata.associationLink":{"type":"string"},"cat_gtmentry_SyncErrors@odata.navigationLink":{"type":"string"},"cat_gtmentry_DuplicateMatchingRecord@odata.associationLink":{"type":"string"},"cat_gtmentry_DuplicateMatchingRecord@odata.navigationLink":{"type":"string"},"cat_gtmentry_DuplicateBaseRecord@odata.associationLink":{"type":"string"},"cat_gtmentry_DuplicateBaseRecord@odata.navigationLink":{"type":"string"},"cat_gtmentry_AsyncOperations@odata.associationLink":{"type":"string"},"cat_gtmentry_AsyncOperations@odata.navigationLink":{"type":"string"},"cat_gtmentry_MailboxTrackingFolders@odata.associationLink":{"type":"string"},"cat_gtmentry_MailboxTrackingFolders@odata.navigationLink":{"type":"string"},"cat_gtmentry_UserEntityInstanceDatas@odata.associationLink":{"type":"string"},"cat_gtmentry_UserEntityInstanceDatas@odata.navigationLink":{"type":"string"},"cat_gtmentry_ProcessSession@odata.associationLink":{"type":"string"},"cat_gtmentry_ProcessSession@odata.navigationLink":{"type":"string"},"cat_gtmentry_BulkDeleteFailures@odata.associationLink":{"type":"string"},"cat_gtmentry_BulkDeleteFailures@odata.navigationLink":{"type":"string"},"cat_gtmentry_PrincipalObjectAttributeAccesses@odata.associationLink":{"type":"string"},"cat_gtmentry_PrincipalObjectAttributeAccesses@odata.navigationLink":{"type":"string"},"stageid@odata.associationLink":{"type":"string"},"stageid@odata.navigationLink":{"type":"string"},"cat_gtmentry_Annotations@odata.associationLink":{"type":"string"},"cat_gtmentry_Annotations@odata.navigationLink":{"type":"string"},"bpf_cat_gtmentry_new_bpf_113000d30d7642ec8dd25d62636496e9@odata.associationLink":{"type":"string"},"bpf_cat_gtmentry_new_bpf_113000d30d7642ec8dd25d62636496e9@odata.navigationLink":{"type":"string"},"bpf_cat_gtmentry_new_bpf_b66d18bdcf334162b51b456f1be0e1ff@odata.associationLink":{"type":"string"},"bpf_cat_gtmentry_new_bpf_b66d18bdcf334162b51b456f1be0e1ff@odata.navigationLink":{"type":"string"},"bpf_cat_gtmentry_new_orbit_initiative_approval_process@odata.associationLink":{"type":"string"},"bpf_cat_gtmentry_new_orbit_initiative_approval_process@odata.navigationLink":{"type":"string"},"cat_BusinessOwner@odata.associationLink":{"type":"string"},"cat_BusinessOwner@odata.navigationLink":{"type":"string"},"cat_gtmEntry_gtmEntry_cat_gtmAttachments@odata.associationLink":{"type":"string"},"cat_gtmEntry_gtmEntry_cat_gtmAttachments@odata.navigationLink":{"type":"string"},"cat_Sponsor@odata.associationLink":{"type":"string"},"cat_Sponsor@odata.navigationLink":{"type":"string"},"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr@odata.associationLink":{"type":"string"},"cat_ProjectTeamRoles_gtmEntry_cat_gtmEntr@odata.navigationLink":{"type":"string"},"cat_TeamRoles@odata.associationLink":{"type":"string"},"cat_TeamRoles@odata.navigationLink":{"type":"string"},"crba4_cat_gtmEntry_cat_gtmEntry_cat_TeamLeadRol@odata.associationLink":{"type":"string"},"crba4_cat_gtmEntry_cat_gtmEntry_cat_TeamLeadRol@odata.navigationLink":{"type":"string"},"cat_gtmentry_Teams@odata.associationLink":{"type":"string"},"cat_gtmentry_Teams@odata.navigationLink":{"type":"string"},"crffc_Email_GTMInitiative_cat_gtmEntry@odata.associationLink":{"type":"string"},"crffc_Email_GTMInitiative_cat_gtmEntry@odata.navigationLink":{"type":"string"},"cat_ApprovalRequestRejections_GTMEntry_ca@odata.associationLink":{"type":"string"},"cat_ApprovalRequestRejections_GTMEntry_ca@odata.navigationLink":{"type":"string"},"cat_gtmentry_QueueItems@odata.associationLink":{"type":"string"},"cat_gtmentry_QueueItems@odata.navigationLink":{"type":"string"},"cat_BeneficiaryLOBApprover@odata.associationLink":{"type":"string"},"cat_BeneficiaryLOBApprover@odata.navigationLink":{"type":"string"},"cat_StageApprovalResponses_gtmEntry_cat_g@odata.associationLink":{"type":"string"},"cat_StageApprovalResponses_gtmEntry_cat_g@odata.navigationLink":{"type":"string"},"cat_OriginalCreatedByUser@odata.associationLink":{"type":"string"},"cat_OriginalCreatedByUser@odata.navigationLink":{"type":"string"},"cat_OrbitAuditHistory_GTMEntry_cat_gtmEnt@odata.associationLink":{"type":"string"},"cat_OrbitAuditHistory_GTMEntry_cat_gtmEnt@odata.navigationLink":{"type":"string"},"cat_ORBITEmails_gtmEntry_cat_gtmEntry@odata.associationLink":{"type":"string"},"cat_ORBITEmails_gtmEntry_cat_gtmEntry@odata.navigationLink":{"type":"string"},"cat_ORBITApprovalsHistory_gtmEntry_cat_gt@odata.associationLink":{"type":"string"},"cat_ORBITApprovalsHistory_gtmEntry_cat_gt@odata.navigationLink":{"type":"string"},"cat_Journey@odata.associationLink":{"type":"string"},"cat_Journey@odata.navigationLink":{"type":"string"},"cat_Activities_gtmEntry_cat_gtmEntry@odata.associationLink":{"type":"string"},"cat_Activities_gtmEntry_cat_gtmEntry@odata.navigationLink":{"type":"string"},"cat_Workstream_gtmEntry_cat_gtmEntry@odata.associationLink":{"type":"string"},"cat_Workstream_gtmEntry_cat_gtmEntry@odata.navigationLink":{"type":"string"},"cat_ChangeRequest_FieldChangeRecord_cat_g@odata.associationLink":{"type":"string"},"cat_ChangeRequest_FieldChangeRecord_cat_g@odata.navigationLink":{"type":"string"},"cat_ChangeRequest_gtmEntry_cat_gtmEntry@odata.associationLink":{"type":"string"},"cat_ChangeRequest_gtmEntry_cat_gtmEntry@odata.navigationLink":{"type":"string"},"#Microsoft.Dynamics.CRM.new_UpdateRecordOwner9a7c30491333ea11a813000d3a36857d":{"type":"object","properties":{"title":{"type":"string"},"target":{"type":"string"}}}}}}},"Condition":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Parse_JSON_-_GTMEntry_Record_Output_Values":["Succeeded"]},"expression":{"or":[{"equals":["@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_phase@OData.Community.Display.V1.FormattedValue']","Draft"]},{"equals":["@body('Parse_JSON_-_GTMEntry_Record_Output_Values')?['cat_changerequest']",true]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}