solutions/TMobile/Workflows/UpdateTeamPermissionsOnRecordChange-044928C6-9595-EA11-A811-000D3A329613.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"cat_gtmentry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cat_phase,cat_sponsor,cat_beneficiarylob,cat_businessowner,createdby","subscriptionRequest/filterexpression":"cat_changerequest ne true","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"AddUserToAccessTeamTemplate_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_sponsor_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate":{"runAfter":{"AddUserToAccessTeamTemplate_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_businessowner_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_2":{"runAfter":{"AddUserToAccessTeamTemplate_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_beneficiarylobapprover_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_4":{"runAfter":{"AddUserToAccessTeamTemplate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_createdby_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_5":{"runAfter":{"AddUserToAccessTeamTemplate_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_sponsor_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varEditAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_6":{"runAfter":{"AddUserToAccessTeamTemplate_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_businessowner_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varEditAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_7":{"runAfter":{"Terminate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_beneficiarylobapprover_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varEditAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_8":{"runAfter":{"AddUserToAccessTeamTemplate_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_createdby_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varEditAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"AddUserToAccessTeamTemplate_2":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Initialize_and_Set_Variable_-_varReadAccessTeamID":["Succeeded"]},"else":{"actions":{"AddUserToAccessTeamTemplate_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_sponsor_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_10":{"runAfter":{"AddUserToAccessTeamTemplate_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_businessowner_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"AddUserToAccessTeamTemplate_11":{"runAfter":{"Terminate_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36","operationId":"AddUserToAccessTeamTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_cdsconnector-5f59c4ae4d857323c0-5f5625118529367c36"},"parameters":{"userid":"@triggerOutputs()?['body/_cat_beneficiarylobapprover_value']","body/Record/cat_gtmentryid":"@triggerOutputs()?['body/cat_gtmentryid']","body/TeamTemplate/teamtemplateid":"@variables('varReadAccessTeamID')"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"AddUserToAccessTeamTemplate_10":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_phase']",809060000]},"type":"If"},"Initialize_and_Set_Variable_-_varEditAccessTeamID":{"runAfter":{"Add_Legacy_GTMEntryID_To_Record_If_New_and_No_Legacy_ID_Exists":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEditAccessTeamID","type":"string","value":"ce54ecd4-e212-ea11-a811-000d3a3682ac"}]}},"Initialize_and_Set_Variable_-_varReadAccessTeamID":{"runAfter":{"Initialize_and_Set_Variable_-_varEditAccessTeamID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReadAccessTeamID","type":"string","value":"33d066ed-e212-ea11-a811-000d3a3682ac"}]}},"Add_Legacy_GTMEntryID_To_Record_If_New_and_No_Legacy_ID_Exists":{"actions":{"List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items","queries":{"$filter":"cat_legacygtmentryid ne 9999999 ","$orderby":"cat_legacygtmentryid desc","$top":1},"authentication":"@parameters('$authentication')"}},"Get_Max_LegacyGTMEntryID_Value":{"foreach":"@body('List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID')?['value']","actions":{"Set_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varCurrentMaxLegacyGTMEntryID","value":"@items('Get_Max_LegacyGTMEntryID_Value')?['cat_legacygtmentryid']"}}},"runAfter":{"List_Records_-_gtmEntries_-_Highest_LegacyGTMEntryID":["Succeeded"]},"type":"Foreach"},"Increment_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{"Get_Max_LegacyGTMEntryID_Value":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"varCurrentMaxLegacyGTMEntryID","value":1}},"Add_Legacy_GTMEntryID_To_Record":{"runAfter":{"Increment_Variable_-_varCurrentMaxLegacyGTMEntryID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"cat_legacygtmentryid":"@variables('varCurrentMaxLegacyGTMEntryID')","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cat_gtmentries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/cat_gtmentryid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_Variable_-_varCurrentMaxLegacyGTMEntryID":["Succeeded"]},"expression":{"or":[{"and":[{"equals":["@triggerOutputs()?['body/cat_phase']",809060000]},{"equals":["@triggerOutputs()?['body/cat_legacygtmentryid']",9999999]}]},{"and":[{"equals":["@triggerOutputs()?['body/cat_phase']",809060000]},{"equals":["@triggerOutputs()?['body/cat_legacygtmentryid']","@null"]}]}]},"type":"If"},"Initialize_Variable_-_varCurrentMaxLegacyGTMEntryID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCurrentMaxLegacyGTMEntryID","type":"integer"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}